.mindful-title
{
    width: 80%;
    height: 70%;
    top: 8%;
    left: 250px;
    position: fixed;
    color: white;
    font-size: 13px;
}

.mindful-text
{
    width: 80%;
    float: center;
}

.guided
{
    width: 80%;
    height: 70%;
    top: 20%;
    left: -430px;
    position: fixed;
    color: white;
    font-size: 12px;
}

.guided-text1 li
{
    float: center;
    margin-top: 17px;
    margin-left: 540px;
}

.clear-mind
{
    position: absolute;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.clear-mind iframe
{
    position: absolute;
    top: 5%;
    right: 40%;
    width: 20%;
    height: 20%;
}

.guided-text2 li
{
    float: center;
    margin-top: 230px;
    margin-left: 540px;
}

.negative-t
{
    position: absolute;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.negative-t iframe
{
    position: absolute;
    top: 34%;
    right: 40%;
    width: 20%;
    height: 20%;
}

.guided-text3 li
{
    float: center;
    margin-top: 450px;
    margin-left: 540px;
}

.stress
{
    position: absolute;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.stress iframe
{
    position: absolute;
    top: 63%;
    right: 40%;
    width: 20%;
    height: 20%;
}

.Yoga
{
    width: 80%;
    height: 70%;
    top: 20%;
    left: -30px;
    position: fixed;
    color: white;
    font-size: 12px;
}

.yoga-text1 li
{
    float: center;
    margin-top: 17px;
    margin-left: 610px;
}

.stress-relief
{
    position: absolute;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.stress-relief iframe
{
    position: absolute;
    top: 5%;
    right: 40%;
    width: 20%;
    height: 20%;
}

.calm-clear 
{
    position: absolute;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.yoga-text2 li
{
    float: center;
    margin-top: 230px;
    margin-left: 610px;
}

.calm-clear iframe
{
    position: absolute;
    top: 34%;
    right: 40%;
    width: 20%;
    height: 20%;
}

.stress-anxiety
{
    position: absolute;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.yoga-text3 li
{
    float: center;
    margin-top: 450px;
    margin-left: 580px;
}

.stress-anxiety iframe
{
    position: absolute;
    top: 63%;
    right: 40%;
    width: 20%;
    height: 20%;
}

.ASMR
{
    width: 80%;
    height: 70%;
    top: 20%;
    left: 375px;
    position: fixed;
    color: white;
    font-size: 12px;
}

.asmr-text1 li
{
    float: center;
    margin-top: 17px;
    margin-left: 580px;
}

.scratch
{
    position: absolute;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.scratch iframe
{
    position: absolute;
    top: 5%;
    right: 40%;
    width: 20%;
    height: 20%;
}

.bubble
{
    position: absolute;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.asmr-text2 li
{
    float: center;
    margin-top: 230px;
    margin-left: 640px;
}

.bubble iframe
{
    position: absolute;
    top: 34%;
    right: 40%;
    width: 20%;
    height: 20%;
}

.whisper
{
    position: absolute;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.asmr-text3 li
{
    float: center;
    margin-top: 450px;
    margin-left: 650px;
}

.whisper iframe
{
    position: absolute;
    top: 63%;
    right: 40%;
    width: 20%;
    height: 20%;
}

.imagery
{
    width: 80%;
    height: 70%;
    top: 20%;
    left: 770px;
    position: fixed;
    color: white;
    font-size: 12px;
}

.imagery-text1 li
{
    float: center;
    margin-top: 17px;
    margin-left: 620px;
}

.magic-forest
{
    position: absolute;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.magic-forest iframe
{
    position: absolute;
    top: 5%;
    right: 40%;
    width: 20%;
    height: 20%;
}

.beach
{
    position: absolute;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.imagery-text2 li
{
    float: center;
    margin-top: 230px;
    margin-left: 610px;
}

.beach iframe
{
    position: absolute;
    top: 34%;
    right: 40%;
    width: 20%;
    height: 20%;
}

.waterfall-img
{
    position: absolute;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.imagery-text3 li
{
    float: center;
    margin-top: 450px;
    margin-left: 650px;
}

.waterfall-img iframe
{
    position: absolute;
    top: 63%;
    right: 40%;
    width: 20%;
    height: 20%;
}