*{
    margin: 0;
    padding: 0;
}

header
{
    background-image:linear-gradient(rgba(0,0,0,0.08),rgba(0,0,0,0.5)),url(blueocean.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center
}

.logo img
{
    width: 250px;
    height: auto;
    float: left;
    margin-top: 10px;
    margin-left: 1%;
}
*/
.nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav li
{
    display: inline-block;
    margin-right: -1%;
}

.nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Concert One', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

.nav li a:hover
{
    border: 1px solid white;
}

body
{
    font-family: 'Concert One', Verdana, Geneva, Tahoma, sans-serif;
}

.row
{
    max-width: 1200px;
    float: right;
    margin-top: 30px;
}

.banner
{
    width: 80%;
    height: 70%;
    top: 45%;
    left: 250px;
    position: absolute;
    color: white;
    font-size: 25px;
    line-height: 70px;
}

.text
{
    width: 80%;
    float: center;
}

.text h1
{
    font-size: 60px;
}

.text p
{
    line-height: 40px;
}